.team-grid {
  background-color: var(--col-star-blue);
  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    gap: 1.5rem;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__member {
    text-decoration: none;
    color: var(--col-light-regular);
    isolation: isolate;
    aspect-ratio: 2/3;
    mix-blend-mode: normal;
    object-fit: cover;
    border-radius: 0.7rem;
    justify-content: flex-start;
    align-items: flex-end;
    display: flex;
    position: relative;
    overflow: hidden;
    &:hover {
      color: var(--col-light-regular);
      .colour-grad {
        opacity: 1;
      }
      .team-grid__member-image {
        filter: grayscale(0%);
      }
      .text-swap__inner {
        transform: translateY(-50%);
      }
    }
  }
  &__member-image {
    z-index: 1;
    object-fit: cover;
    width: 100%;
    height: 100% !important;
    display: block;
    position: absolute;
    inset: 0;
    transition: filter var(--transition);
    filter: grayscale(100%);
  }

  &__info {
    z-index: 20;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 1.25rem;
    display: flex;
    position: relative;
  }

  &__member-name {
    font-family: var(--ff-body);
    font-weight: var(--fw-regular);
    font-size: 1.4rem;
    line-height: 1;
    color: var(--col-white);
    transition: transform var(--transition);
  }
  &__member-role {
    font-family: var(--ff-body);
    font-weight: var(--fw-regular);
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 0.6;
    line-height: 1;
    color: var(--col-white);
  }

  .gradient {
    z-index: 9;
    background-image: linear-gradient(0deg, var(--col-star-blue), #03030300);
    opacity: 0.58;
    pointer-events: auto;
    mix-blend-mode: multiply;
    transition: all 0.2s;
    position: absolute;
    inset: 0%;
  }
  .colour-grad {
    z-index: 8;
    mix-blend-mode: soft-light;
    background-image: radial-gradient(
      circle farthest-side at 0 0,
      #41fcdaa8,
      #fff0
    );
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0%;
    transition: opacity var(--transition);
    opacity: 0;
  }
}

.button-icon {
  aspect-ratio: 1;
  background-color: var(--col-highlight);
  color: var(--col-star-blue);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  width: 3rem;
  padding: 1rem;
  display: flex;
}
