.full-hero {
  min-height: 100svh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  isolation: isolate;

  &__pre-title {
    font-size: 4vh;
    font-family: var(--ff-heading);
    font-weight: var(--fw-light);
    text-transform: uppercase;
    color: var(--col-star-blue);
  }
  &__title {
    font-size: min(11vw, 200px);
    font-family: var(--ff-heading);
    font-weight: var(--fw-black);
    text-transform: uppercase;
    color: var(--col-star-blue);
  }

  &__cube {
    position: absolute;
    left: 50%;
    bottom: -5rem;
    transform: translateX(-50%);
    z-index: -1;
    width: 28rem;
  }
}
