#wrapperNavbar {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  left: 0;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-start;
  // flex-direction: row-reverse;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #ffffffcc;
    backdrop-filter: blur(2px);
    opacity: 0;
    z-index: -1;
    transition: opacity var(--transition);
    pointer-events: none;
  }

  &.scrolled::before {
    opacity: 1;
  }

  .navbar {
    padding: 0;
  }

  button.menu {
    background-color: #ffffffcc;
    color: var(--col-primary-400);
    border: none;
    border-bottom-left-radius: 0.1rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    z-index: 9999;
  }

  .offcanvas-body {
    background-color: var(--col-highlight);
    padding-top: 4rem;
    padding-inline: 0;

    .nav-link {
      padding-inline-start: 2rem;
      color: var(--col-star-blue);
      background-color: var(--col-highlight);
      font-size: var(--fs-900);
      font-weight: var(--fw-black);
      font-family: var(--ff-heading);
      text-transform: uppercase;
      line-height: 1;
      transition: color var(--transition), background-color var(--transition);
      &:hover {
        color: var(--col-white);
        background-color: var(--col-star-blue);
      }
    }
  }

  transition: transform var(--transition);

  &.hide {
    transform: translateY(-100px);
  }

  > .container {
    padding-block: 0.75rem;
  }

  .site-logo {
    img {
      aspect-ratio: 426 / 103;
      width: 100%;
      max-height: 50px;
      max-width: 208px;
    }
  }
}
